/* Header*/
.header {
    padding: 20px;
    text-align: center;
    background: #5AACDB;
    color: black;
    font-size: 30px;
  }
.header ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
  }

.header a{
      text-decoration: none;
  }

.header a:hover{
      color:red;
  }

h2 {
    text-align: center;
    font-size: 25px
}
.p1 {
    background-color: #6287D9;
	padding: 20px;
}
.p1 a {
    text-decoration: none;
    color: black;
    padding: 10px;
    font-size: 20px;
    
}

.p1 a:hover {
    color: red;
}
.p2 {
    font-size: 30px;
}
body {
	font-family: Arial;
	margin: 0;
	text-align: center;
	background-color: #6262D9;
}