/* Header*/
.header {
    padding: 20px;
    text-align: center;
    background: #5AACDB;
    color: black;
    font-size: 30px;
  }
  .header ul {
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;
  }
  
.pictures{
    max-width: 300px; 
    margin: 10px;

}
  a{
      text-decoration: none;
  }
.header a:hover{
      color:red;
  }
  a:active{
      color:green;
  }

  li a:visited {
    color: black;
}

h2 {
    text-align: center;
    font-size: 25px
}

